body{
    background-color: lightgray;
}
#inp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    flex-direction: column;

}
input{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    color: white;
    font-size: 20px;
    font-family:Haettenschweiler;
    border-color: black;
    background-color: rgb(56, 55, 55);
    height: 30px;
    width: 150px;
    margin-bottom:15px;
    border-radius: 5px;
}
#out{

    font-size: 20px;
    background-color: gray;
    border-radius: 5px;
}
#output{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
#inputs{
    background-color: rgb(60, 66, 66);
    border-radius: 10px;
    margin: 50px;
}